.light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(39, 39, 39);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;

  img {
    width: 30px;
    filter: invert(100%);
  }
}

.light:hover {
  background-color: rgb(4, 65, 129);
}

.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(39, 39, 39);
  border-radius: 50%;
  cursor: pointer;

  img {
    width: 30px;
  }
}

.dark:hover {
  background-color: rgb(240, 160, 41);
  border: 2px solid rgb(255, 255, 255);

  img {
    filter: invert(100%);
  }
}
