.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;

  .container {
    display: flex;
    background-color: var(--favorites-color);
    border-radius: 30px;
    min-width: 240px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Amatic SC";
      font-size: 40px;
      color: var(--cards-text-color);

      .today {
        display: flex;
        flex-direction: column;
        align-items: center;

        .city {
          font-size: 45px;
          font-weight: 700;
        }

        .country {
          font-size: 35px;
        }
      }

      .icon {
        img {
          width: 200px;
        }
      }

      .weather {
        font-size: 30px;
        margin-top: 10px;
      }

      .temperature {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
      }
    }
  }

  .delete_btn {
    // display: none;
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    background-color: var(--favorites-color);
    border-radius: 50%;
    border: none;
    font-family: "Galdeano";
    font-size: 25px;
    color: var(--cards-text-color);
  }
}

.wrapper:hover {
  .delete_btn {
    opacity: 1;

    cursor: pointer;
    transition-duration: 0.4s;
  }

  .delete_btn:hover {
    color: rgb(214, 159, 8);
    border: 2px var(--cards-text-color) solid;
  }
}

@media screen and (max-width: 1075px) {
  .wrapper {
    .container {
      min-width: 160px;
      padding: 15px;

      .main {
        font-size: 30px;
        .today {
          .city {
            font-size: 35px;
          }

          .country {
            font-size: 25px;
          }
        }
        .icon {
          img {
            width: 150px;
          }
        }

        .weather {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 505px) {
  .wrapper {
    .container {
      width: 80vw;

      .main {
        font-size: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .today {
          .city {
            font-size: 30px;
          }

          .country {
            font-size: 20px;
          }
        }
        .icon {
          img {
            width: 130px;
          }
        }

        .weather {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    .container {
      .main {
        .icon {
          img {
            width: 100px;
          }
        }
        .temperature {
          .current {
            display: none;
          }
        }
      }
    }
  }
}
