.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    background-color: var(--favorites-color);
    border-radius: 30px;
    min-width: 240px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Amatic SC";
      font-size: 40px;
      color: var(--cards-text-color);

      .today {
        display: flex;
        flex-direction: column;
        align-items: center;

        .city {
          font-size: 45px;
          font-weight: 700;
        }

        .country {
          font-size: 35px;
        }
      }

      .icon {
        img {
          width: 200px;
        }
      }

      .weather {
        font-size: 30px;
        margin-top: 10px;
      }

      .temperature {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
      }
    }
  }

  .delete_btn {
    display: none;
  }
}

.wrapper:hover {
  .delete_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    background-color: var(--favorites-color);
    border-radius: 50%;
    border: none;
    font-family: "Galdeano";
    font-size: 25px;
    color: var(--cards-text-color);

    cursor: pointer;
    transition-duration: 0.4s;
  }

  .delete_btn:hover {
    color: rgb(214, 159, 8);
    border: 2px var(--cards-text-color) solid;
  }
}
