.container {
  display: flex;
  background-color: transparent;

  .circle {
    position: absolute;
    top: -750px;
    left: -300px;
    border-radius: 50%;
    width: 1300px;
    height: 1300px;
    background-color: rgb(253, 227, 80);
    box-shadow: 0px 0px 20px 20px rgb(253, 227, 80);
    // border: 9px solid rgb(243, 131, 40);
  }

  .back_circle {
    position: absolute;
    z-index: -1;
    top: -750px;
    left: -300px;
    border-radius: 50%;
    width: 1325px;
    height: 1325px;
    background-color: rgb(240, 180, 16);
    // box-shadow: 0px 0px 20px 20px rgb(240, 180, 16);
  }

  .main {
    z-index: 1;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .todo {
      font-family: "Galdeano";
      font-size: 60px;

      color: rgb(59, 59, 59);
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }

    .current_box {
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
}
