.container {
  display: flex;
  background-color: transparent;
  height: 90vh;

  .circle {
    position: absolute;
    top: -750px;
    left: -250px;
    border-radius: 50%;
    width: 1300px;
    height: 1300px;
    background-color: rgb(255, 234, 116);
    box-shadow: 0px 0px 20px 20px rgb(255, 234, 116);
    // background-color: rgb(253, 227, 80);
    // box-shadow: 0px 0px 20px 20px rgb(253, 227, 80);
    // border: 9px solid rgb(243, 131, 40);
  }

  .back_circle {
    position: absolute;
    z-index: -1;
    top: -750px;
    left: -250px;
    border-radius: 50%;
    width: 1325px;
    height: 1325px;
    background-color: rgb(255, 203, 59);
    // background-color: rgb(240, 180, 16);

    // box-shadow: 0px 0px 20px 20px rgb(240, 180, 16);
  }

  .main {
    z-index: 1;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .button {
      display: flex;
      justify-content: flex-end;

      button {
        font-family: "Amatic SC";
        font-size: 20px;
        font-weight: 700;
        border-radius: 30px;
        padding: 10px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .current_box {
        width: 95%;
        margin: 20px auto 10px auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .week_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        // .weather_block {
        //   margin-bottom: 30px;
        // }
      }
    }
  }
}
