.container {
  display: flex;
  z-index: 10;
  min-height: 6vh;
  background-color: transparent;

  .main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    z-index: 1;

    .logo {
      font-family: "Amatic SC";
      font-size: 36px;
      color: var(--logo-color);
      text-decoration: none;
      cursor: pointer;
    }

    .control {
      display: flex;
      width: 250px;
      justify-content: space-between;

      .favorites {
        display: flex;
        align-items: center;
        font-family: "Amatic SC";
        font-size: 36px;
        font-weight: 700;

        a {
          text-decoration: none;
          color: var(--link-favorites-color);
        }

        a:hover {
          color: rgb(214, 159, 8);
        }
      }
    }
  }
}
