.container {
  display: flex;
  height: 90vh;

  .main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .favorites {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 100px 130px 30px 130px;
      .favorite {
        margin: 0 10px 20px 10px;
      }
    }
  }
}
