.container {
  display: flex;
  min-height: 340px;
  background-color: var(--cards-color);
  border-radius: 30px;
  padding: 40px;
  transition: 1s;

  .main {
    display: flex;
    font-family: "Amatic SC";
    font-size: 60px;
    color: var(--cards-text-color);
    margin: 0px -30px;
    transition: 1s;

    .first_column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 30px;

      .icon {
        img {
          width: 170px;
        }
      }

      .temperature {
        display: flex;
        flex-direction: column;
        align-items: center;

        .current_temp {
          font-weight: 700;
        }
      }
    }

    .second_column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0px 30px;
      transition: 1s;

      .day_info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .date {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-weight: 700;
          font-size: 65px;
          margin: 0 -7px;
          transition: 1s;

          span {
            padding: 0 7px;
          }

          .day {
            font-weight: 400;
            font-size: 50px;
            transition: 1s;
          }
        }

        .weather {
          margin-top: 10px;
        }
      }
      .parameters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .wind {
          margin-top: 20px;
          transition: 1s;
        }

        .text {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 30px;
    max-width: 517px;

    .main {
      font-size: 50px;

      .second_column {
        justify-content: space-around;
        .day_info {
          .date {
            font-size: 55px;

            .day {
              font-size: 40px;
            }
          }
        }

        .parameters {
          .wind {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 30px 30px 0 30px;
    .main {
      flex-direction: column-reverse;
      font-size: 30px;

      .first_column {
        flex-direction: row;

        .icon {
          img {
            width: 150px;
          }
        }
      }

      .second_column {
        align-items: center;
        .day_info {
          .date {
            font-size: 40px;

            .day {
              font-size: 30px;
            }
          }
        }
        .parameters {
          align-items: center;
          margin-top: 20px;

          .wind {
            margin-top: 5px;
          }

          .text {
            font-size: 30px;
          }
        }
      }
    }
  }
}
