.container {
  display: flex;
  background-color: var(--cards-color);
  border-radius: 30px;
  min-width: 240px;
  padding: 30px;
  justify-content: center;
  transition: 1s;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Amatic SC";
    font-size: 40px;
    color: var(--cards-text-color);

    .today {
      display: flex;
      flex-direction: column;
      align-items: center;

      .day {
        font-size: 45px;
      }

      .date {
        font-size: 35px;
      }
    }

    .weather {
      font-size: 30px;
    }

    .temperature {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    min-width: 220px;
    padding: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 200px;
    padding: 10px;

    .main {
      font-size: 30px;

      .today {
        .day {
          font-size: 35px;
        }

        .date {
          font-size: 25px;
        }
      }
      .weather {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .container {
    padding: 10px 40px 10px 40px;
  }
}
