.container {
  display: flex;
  background-color: var(--cards-color);
  border-radius: 30px;
  min-width: 240px;
  padding: 30px;
  justify-content: center;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Amatic SC";
    font-size: 40px;
    color: var(--cards-text-color);

    .today {
      display: flex;
      flex-direction: column;
      align-items: center;

      .day {
        font-size: 45px;
      }

      .date {
        font-size: 35px;
      }
    }

    .weather {
      font-size: 30px;
    }

    .temperature {
      font-weight: 700;
    }
  }
}
