.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;

  .number {
    font-family: "Amatic SC";
    font-size: 404px;
    font-weight: 700;
    color: var(--logo-color);
    transition: 0.5s;
  }

  .big_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    transition: 0.5s;

    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--back_circle-color);

    .small_circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 460px;
      height: 460px;
      border-radius: 50%;
      background-color: var(--circle-color);
      box-shadow: 0px 0px 20px 20px var(--circle-color);
      transition: 0.5s;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          text-decoration: none;
        }

        .not_found {
          font-family: "Amatic SC";
          font-size: 60px;
          font-weight: 700;
          color: var(--logo-color);
          transition: 0.5s;

          span {
            font-size: 70px;
            transition: 0.5s;
          }
        }

        .button {
          background-color: var(--circle-color);
          width: 250px;
          height: 70px;
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
          border-radius: 50px;
          margin-top: 30px;

          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Amatic SC";
          font-size: 30px;
          font-weight: 700;
          color: var(--logo-color);
          cursor: pointer;
          transition: 0.5s;
        }
        .button:hover {
          box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
            inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    .number {
      font-size: 350px;
    }

    .big_circle {
      width: 300px;
      height: 300px;

      .small_circle {
        width: 260px;
        height: 260px;

        .info {
          .not_found {
            font-size: 40px;

            span {
              font-size: 50px;
            }
          }

          .button {
            width: 200px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .container {
    flex-direction: column;
    .number {
      font-size: 150px;
    }
    .big_circle {
      width: 250px;
      height: 250px;

      .small_circle {
        width: 210px;
        height: 210px;

        .info {
          .not_found {
            font-size: 30px;

            span {
              font-size: 40px;
            }
          }

          .button {
            width: 150px;
            height: 50px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
